---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cert-err33-c,
  -misc-include-cleaner,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -bugprone-implicit-widening-of-multiplication-result,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-assignment-in-if-condition,
  -cert-msc30-c,
  -cert-msc50-cpp

WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/.*\.h$'
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
