---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++11
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"vmavificient/'
    Priority: 1
  - Regex:    '^"'
    Priority: 2
  - Regex:    '^<[a-z_]+\.h>'
    Priority: 3
  - Regex:    '^<.*\.h>'
    Priority: 4
  - Regex:    '.*'
    Priority: 5
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
